<div class="container">
  <div class="header">
        <!-- Banner Area -->
        <div class="header_banner"  
        [ngStyle]="{
        'background-image': 'linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(' + headerBGUrl + ')'
        }">
            <h2>{{trending.results?.[0]?.title || "No title"}}</h2>
            <div class="header_buttons">
                <button class="play-button">
                    <mat-icon>arrow_right</mat-icon>
                    <span>Play</span>
                </button>
                <button class="more-button">
                    <mat-icon>info</mat-icon>
                    <span>More info</span>
                </button>
            </div>
        </div>
        <div class="header_main" id="stickyHeader" [class.sticky]="sticky" #stickHeader>
            <div class="header_left">
                <a routeLink = "/">
                    <img src="assets/NetflixLogo.svg" alt="logo">
                </a>
                <ul>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">TV Shows</a></li>
                    <li><a href="#">Movies</a></li>
                    <li><a href="#">Latest</a></li>
                    <li><a href="#">My List</a></li>
                </ul>
            </div>
            <div class="header_right">
                <ul>
                    <li><a href="#"><mat-icon>search</mat-icon></a></li>
                    <li><a href="#">Children</a></li>
                    <li><a href="#"><mat-icon>card_giftcard</mat-icon></a></li>
                    <li><a href="#"><mat-icon>notifications</mat-icon></a></li>
                    <li>
                        <img src="https://yt3.googleusercontent.com/ytc/AIdro_kdnYocc1pF-G-EWjHCSRBkrWWjO4wk-ep1Uwv2QUpgzRU=s160-c-k-c0x00ffffff-no-rj" alt="">
                    </li>
                </ul>
            </div>
        </div>
  </div> 
  <!-- header ends here -->

  <div class="body" style="margin-top: 30rem;">
        <app-slider title="Trending" [movies]="trending" [sliderConfig]="sliderConfig" (openTrailerEvent)="openTrailer($event)"></app-slider>
        <app-slider title="Top Rated" [movies]="topRated" [sliderConfig]="sliderConfig" (openTrailerEvent)="openTrailer($event)"></app-slider>
        <app-slider title="Now Playing" [movies]="nowPlaying" [sliderConfig]="sliderConfig" (openTrailerEvent)="openTrailer($event)"></app-slider>
        <app-slider title="Originals" [movies]="originals" [sliderConfig]="sliderConfig" (openTrailerEvent)="openTrailer($event)"></app-slider>
        <app-slider title="Popular" [movies]="popular" [sliderConfig]="sliderConfig" (openTrailerEvent)="openTrailer($event)"></app-slider>
  </div>
  <app-trailer-modal 
    [showModal]="showModal" 
    [trailerUrl]="trailerUrl" 
    >
</app-trailer-modal>
</div>